<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
		
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Student Manager</h1>
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a href="new">Create New Student</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>Student ID</th>
				<th>FirstName</th>
				<th>LastName</th>
				<th>Email</th>

				
				<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>				
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${listStudents}">
				<td th:text="${student.id}">Student ID</td>
				<td th:text="${student.firstName}">First Name</td>
				<td th:text="${student.lastName}">Last Name</td>
				<td th:text="${student.email}">Email</td>
				
				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<a th:href="@{'/edit/' + ${student.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${student.id}}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>